In [15]:
import pandas as pd

In [16]:
purchase_path = "../../CSV_files/HeroesOfPymoli_purchase_data.csv"

In [60]:
purchase_df = pd.read_csv(purchase_path, encoding="utf-8")
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [118]:
demo_df = purchase_df.loc[:, ["Gender", "SN", "Age"]]
demo_df = demo_df.drop_duplicates()
demo_df

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [18]:
players = demo_df["SN"].count()
players

576

In [276]:
total_num_players_df = pd.DataFrame(columns=["Total Players"])
total_num_players_df.loc[0] = players
total_num_players_df

  Total Players
0           576

In [19]:
unique_items = purchase_df["Item Name"].unique()
total_unique_items = len(unique_items)
total_unique_items

179

In [121]:
avg_price = purchase_df["Price"].mean()
avg_price

3.050987179487176

In [21]:
total_num_purchases = len(purchase_df["Purchase ID"])
total_num_purchases

780

In [22]:
total_revenue = sum(purchase_df["Price"])
total_revenue

2379.7699999999973

In [132]:
purchasing_analysis_total_df = pd.DataFrame([{"Number of Unique Items": total_unique_items,
                                             "Average Purchase Price": avg_price,
                                             "Total Number of Purchases": total_num_purchases,
                                             "Total Revenue": total_revenue}])

purchasing_analysis_total_df["Average Purchase Price"] = purchasing_analysis_total_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_total_df["Total Revenue"] = purchasing_analysis_total_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_total_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [23]:
gender_totals = demo_df["Gender"].value_counts()
gender_totals

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [24]:
gender_percentages = gender_totals/players
gender_percentages

Male                     0.840278
Female                   0.140625
Other / Non-Disclosed    0.019097
Name: Gender, dtype: float64

In [134]:
gender_demographics_df = pd.DataFrame({"Gender Total": gender_totals,
                                      "Gender Percentage": gender_percentages})
gender_demographics_df["Gender Percentage"] = gender_demographics_df["Gender Percentage"].map("{:.2%}".format)
gender_demographics_df

                       Gender Total Gender Percentage
Male                            484            84.03%
Female                           81            14.06%
Other / Non-Disclosed            11             1.91%

In [156]:
gender_total_purchase_price = purchase_df.groupby(["Gender"]).sum()
pd.options.display.float_format = '${:,.2f}'.format
gender_total_purchase_price["Price"]

Gender
Female                    $361.94
Male                    $1,967.64
Other / Non-Disclosed      $50.19
Name: Price, dtype: float64

In [26]:
purchase_count = purchase_df.groupby(["Gender"]).count()
purchase_count["Price"]

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [186]:
purchase_avg = purchase_df.groupby(["Gender"]).mean()
purchase_avg["Price"]

Gender
Female                  $3.20
Male                    $3.02
Other / Non-Disclosed   $3.35
Name: Price, dtype: float64

In [229]:
per_person = purchase_df.loc[(purchase_df["Gender"] == "Female"), :]
avg_per_person_f = per_person.groupby(["SN"])["Price"].sum().mean()
avg_per_person_f

4.468395061728394

In [230]:
per_person = purchase_df.loc[(purchase_df["Gender"] == "Male"), :]
avg_per_person_m = per_person.groupby(["SN"])["Price"].sum().mean()
avg_per_person_m

4.06537190082645

In [242]:
per_person = purchase_df.loc[(purchase_df["Gender"] == "Other / Non-Disclosed"), :]
avg_per_person_o = per_person.groupby(["SN"])["Price"].sum().mean()
avg_per_person_o

4.5627272727272725

In [243]:
avg_pur_person_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Average Purchase Price Per Person": [avg_per_person_f, avg_per_person_m, avg_per_person_o]})
avg_pur_person_df = avg_pur_person_df.set_index("Gender")
avg_pur_person_df

                       Average Purchase Price Per Person
Gender
Female                                             $4.47
Male                                               $4.07
Other / Non-Disclosed                              $4.56

In [245]:
gender_purchase_df = pd.DataFrame({"Total Purchase Value": total_purchase_price["Price"],
                                   "Average Purchase Price": gender_purchase_avg["Price"],
                                   "Total Purchases": purchase_count["Price"],
                                   "Average Purchase Price Per Person": avg_pur_person_df["Average Purchase Price Per Person"]})

pd.options.display.float_format = '${:.2f}'.format
gender_purchase_df

,Total Purchase Value,Average Purchase Price,Total Purchases,Average Purchase Price Per Person
Gender,,,,
Female,$361.94,$3.20,113,$4.47
Male,$1967.64,$3.02,652,$4.07
Other / Non-Disclosed,$50.19,$3.35,15,$4.56

In [30]:
purchase_df["Age"].sort_values()

33      7
778     7
446     7
515     7
658     7
       ..
557    42
674    43
248    44
728    44
761    45
Name: Age, Length: 780, dtype: int64

In [31]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 44, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">45"]
age_bins = pd.cut(purchase_df["Age"], bins, labels=group_names)

In [247]:
purchase_df["Age Group"] = age_bins
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40-44
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [248]:
age_group_count = purchase_df.groupby(["Age Group"]).count()
age_group_count["Price"]

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40-44     12
>45        1
Name: Price, dtype: int64

In [249]:
age_group_sum = purchase_df.groupby(["Age Group"]).sum()
age_group_sum["Price"]

Age Group
<10       $77.13
10-14     $82.78
15-19    $412.89
20-24   $1114.06
25-29    $293.00
30-34    $214.00
35-39    $147.67
40-44     $36.54
>45        $1.70
Name: Price, dtype: float64

In [250]:
age_group_mean = purchase_df.groupby(["Age Group"]).mean()
age_group_mean["Price"]

Age Group
<10     $3.35
10-14   $2.96
15-19   $3.04
20-24   $3.05
25-29   $2.90
30-34   $2.93
35-39   $3.60
40-44   $3.04
>45     $1.70
Name: Price, dtype: float64

In [257]:
age_group_avg_per_person_10 = purchase_df.loc[(purchase_df["Age Group"] == "<10"), :]
age_group_avg_per_person_10 = age_group_avg_per_person_10.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_14 = purchase_df.loc[(purchase_df["Age Group"] == "10-14"), :]
age_group_avg_per_person_14 = age_group_avg_per_person_14.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_19 = purchase_df.loc[(purchase_df["Age Group"] == "15-19"), :]
age_group_avg_per_person_19 = age_group_avg_per_person_19.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_24 = purchase_df.loc[(purchase_df["Age Group"] == "20-24"), :]
age_group_avg_per_person_24 = age_group_avg_per_person_24.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_29 = purchase_df.loc[(purchase_df["Age Group"] == "25-29"), :]
age_group_avg_per_person_29 = age_group_avg_per_person_29.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_34 = purchase_df.loc[(purchase_df["Age Group"] == "30-34"), :]
age_group_avg_per_person_34 = age_group_avg_per_person_34.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_39 = purchase_df.loc[(purchase_df["Age Group"] == "35-39"), :]
age_group_avg_per_person_39 = age_group_avg_per_person_39.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_44 = purchase_df.loc[(purchase_df["Age Group"] == "40-44"), :]
age_group_avg_per_person_44 = age_group_avg_per_person_44.groupby(["SN"])["Price"].sum().mean()

age_group_avg_per_person_45 = purchase_df.loc[(purchase_df["Age Group"] == ">45"), :]
age_group_avg_per_person_45 = age_group_avg_per_person_45.groupby(["SN"])["Price"].sum().mean()

avg_per_person_per_group = [age_group_avg_per_person_10, age_group_avg_per_person_14, age_group_avg_per_person_19, 
                            age_group_avg_per_person_24, age_group_avg_per_person_29, age_group_avg_per_person_34,
                            age_group_avg_per_person_39, age_group_avg_per_person_44, age_group_avg_per_person_45]
avg_per_person_per_group

[4.537058823529413,
 3.7627272727272727,
 3.85878504672897,
 4.318062015503876,
 3.8051948051948052,
 4.115384615384615,
 4.763548387096775,
 3.3218181818181822,
 1.7]

In [256]:
avg_per_group_df = pd.DataFrame({"Age Group": group_names, "Average Price Per Person Per Group": avg_per_person_per_group})
avg_per_group_df = avg_per_group_df.set_index("Age Group")
avg_per_group_df

           Average Price Per Person Per Group
Age Group
<10                                     $4.54
10-14                                   $3.76
15-19                                   $3.86
20-24                                   $4.32
25-29                                   $3.81
30-34                                   $4.12
35-39                                   $4.76
40-44                                   $3.32
>45                                     $1.70

In [264]:
age_group_df = pd.DataFrame({"Price Per Group": age_group_sum["Price"],
                            "Average Price Per Group": age_group_mean_per_person["Price"],
                            "Count Per Group": age_group_count["Price"],
                            "Average Price Per Person Per Group": avg_per_person_per_group})
pd.options.display.float_format = '${:.2f}'.format
age_group_df

,Price Per Group,Average Price Per Group,Count Per Group,Average Price Per Person Per Group
Age Group,,,,
<10,$77.13,$3.35,23,$4.54
10-14,$82.78,$2.96,28,$3.76
15-19,$412.89,$3.04,136,$3.86
20-24,$1114.06,$3.05,365,$4.32
25-29,$293.00,$2.90,101,$3.81
30-34,$214.00,$2.93,73,$4.12
35-39,$147.67,$3.60,41,$4.76
40-44,$36.54,$3.04,12,$3.32
>45,$1.70,$1.70,1,$1.70

In [38]:
price_per_sn = purchase_df.groupby(["SN"]).sum()
top_5_spenders = price_per_sn.nlargest(5, ["Price"])
top_5_spenders["Price"]

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [39]:
top_5_info = purchase_df.loc[(purchase_df["SN"] == "Lisosia93") | 
                             (purchase_df["SN"] == "Idastidru52") | 
                             (purchase_df["SN"] == "Chamjask73") | 
                             (purchase_df["SN"] == "Iral74") | 
                             (purchase_df["SN"] == "Iskadarya95"), :]
top_5_info.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,25-29
128,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
148,148,Iskadarya95,20,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24

In [40]:
top_5_counts = top_5_info["SN"].value_counts()
top_5_counts

Lisosia93      5
Idastidru52    4
Iral74         4
Iskadarya95    3
Chamjask73     3
Name: SN, dtype: int64

In [41]:
top_5_avg_price = top_5_info.groupby(["SN"]).mean()
top_5_avg_price["Price"]

SN
Chamjask73     4.610000
Idastidru52    3.862500
Iral74         3.405000
Iskadarya95    4.366667
Lisosia93      3.792000
Name: Price, dtype: float64

In [291]:
top5spenders_df = pd.DataFrame({"Number of Purchases": top_5_counts,
                                "Average Purchase Price": top_5_avg_price["Price"],
                                "Top 5 Total Purchase Value": top_5_spenders["Price"]})
pd.options.display.float_format = '${:.2f}'.format
top5spenders_df = top5spenders_df.sort_values(by="Top 5 Total Purchase Value", ascending = False)
top5spenders_df

,Number of Purchases,Average Purchase Price,Top 5 Total Purchase Value
Lisosia93,5,$3.79,$18.96
Idastidru52,4,$3.86,$15.45
Chamjask73,3,$4.61,$13.83
Iral74,4,$3.40,$13.62
Iskadarya95,3,$4.37,$13.10

In [43]:
num_purchases = purchase_df["Item Name"].value_counts()
most_popular = num_purchases.head()
most_popular

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Extraction, Quickblade Of Trembling Hands        9
Fiery Glass Crusader                             9
Name: Item Name, dtype: int64

In [44]:
most_popular_names = purchase_df.loc[(purchase_df["Item Name"] == "Final Critic") |
                                    (purchase_df["Item Name"] == "Oathbreaker, Last Hope of the Breaking Storm") |
                                    (purchase_df["Item Name"] == "Fiery Glass Crusader") |
                                    (purchase_df["Item Name"] == "Extraction, Quickblade Of Trembling Hands") |
                                    (purchase_df["Item Name"] == "Persuasion"), :]
most_popular_names.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
24,24,Siala43,30,Male,141,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14

In [268]:
popular_purchase_total = most_popular_names.groupby(["Item Name"]).sum()
popular_purchase_total["Price"]

Item Name
Extraction, Quickblade Of Trembling Hands      $31.77
Fiery Glass Crusader                           $41.22
Final Critic                                   $59.99
Oathbreaker, Last Hope of the Breaking Storm   $50.76
Persuasion                                     $28.99
Name: Price, dtype: float64

In [46]:
popular_names = most_popular_names.drop_duplicates("Item Name", keep="last")
popular_names.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
651,651,Lirtilsa72,24,Male,132,Persuasion,3.33,20-24
678,678,Rarallo90,33,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,30-34
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35-39
769,769,Ilosian36,15,Male,145,Fiery Glass Crusader,4.58,15-19
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10

In [47]:
popular_price = popular_names.groupby(popular_names["Item Name"]).sum()
popular_price["Price"]

Item Name
Extraction, Quickblade Of Trembling Hands       3.53
Fiery Glass Crusader                            4.58
Final Critic                                    4.19
Oathbreaker, Last Hope of the Breaking Storm    4.23
Persuasion                                      3.33
Name: Price, dtype: float64

In [48]:
popular_id = popular_names.groupby(popular_names["Item Name"]).sum()
popular_id["Item ID"]

Item Name
Extraction, Quickblade Of Trembling Hands       108
Fiery Glass Crusader                            145
Final Critic                                    101
Oathbreaker, Last Hope of the Breaking Storm    178
Persuasion                                      132
Name: Item ID, dtype: int64

In [292]:
popular5_df = pd.DataFrame({"Popular 5: Item ID": popular_id["Item ID"],
                                "Popular 5: Price": popular_price["Price"],
                                "Popular 5: Count": most_popular_counts,
                                "Popular 5: Total Purchase Value": popular_purchase_total["Price"]})
pd.options.display.float_format = '${:.2f}'.format
popular5_df = popular5_df.sort_values(by="Popular 5: Count", ascending = False)
popular5_df

,Popular 5: Item ID,Popular 5: Price,Popular 5: Count,Popular 5: Total Purchase Value
Final Critic,101,$4.19,13,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,$4.23,12,$50.76
"Extraction, Quickblade Of Trembling Hands",108,$3.53,9,$31.77
Fiery Glass Crusader,145,$4.58,9,$41.22
Persuasion,132,$3.33,9,$28.99

In [61]:
profits_df = purchase_df[["Item ID", "Item Name", "Price"]]
profits_df

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778      101                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [272]:
no_repeats_df = purchase_df.drop_duplicates(["Item Name"], keep="last")
no_repeats_df = no_repeats_df.nlargest(5, ["Price"])
no_repeats_df = no_repeats_df[["Item ID", "Item Name", "Price"]]
no_repeats_df

     Item ID                          Item Name  Price
554       63                     Stormfury Mace  $4.99
493      139            Mercy, Katana of Dismay  $4.94
477      173                Stormfury Longsword  $4.93
686      147  Hellreaver, Heirloom of Inception  $4.93
593      128      Blazeguard, Reach of Eternity  $4.91

In [76]:
profits_count = profits_df.loc[(profits_df["Item Name"] == "Stormfury Mace") |
                                         (profits_df["Item Name"] == "Mercy, Katana of Dismay") |
                                         (profits_df["Item Name"] == "Stormfury Longsword") |
                                         (profits_df["Item Name"] == "Hellreaver, Heirloom of Inception") |
                                         (profits_df["Item Name"] == "Blazeguard, Reach of Eternity"), :]
num_profits = profits_count["Item Name"].value_counts()
num_profits

Mercy, Katana of Dismay              5
Blazeguard, Reach of Eternity        5
Hellreaver, Heirloom of Inception    3
Stormfury Longsword                  2
Stormfury Mace                       2
Name: Item Name, dtype: int64

In [84]:
profits_purchase_value = profits_count.groupby(["Item Name"])["Price"].sum()
profits_purchase_value

Item Name
Blazeguard, Reach of Eternity        24.55
Hellreaver, Heirloom of Inception    14.79
Mercy, Katana of Dismay              24.70
Stormfury Longsword                   9.86
Stormfury Mace                        9.98
Name: Price, dtype: float64

In [99]:
profits_price = no_repeats_df.groupby(["Item Name"]).sum()
profits_price["Price"]

Item Name
Blazeguard, Reach of Eternity        4.91
Hellreaver, Heirloom of Inception    4.93
Mercy, Katana of Dismay              4.94
Stormfury Longsword                  4.93
Stormfury Mace                       4.99
Name: Price, dtype: float64

In [100]:
profits_item_id = no_repeats_df.groupby(["Item Name"]).sum()
profits_item_id["Item ID"]

Item Name
Blazeguard, Reach of Eternity        128
Hellreaver, Heirloom of Inception    147
Mercy, Katana of Dismay              139
Stormfury Longsword                  173
Stormfury Mace                        63
Name: Item ID, dtype: int64

In [293]:
high_profits_df = pd.DataFrame({"Most Profit: Game ID": profits_price["Price"],
                               "Most Profit: Price": profits_item_id["Item ID"],
                               "Most Profit: Number Sold": num_profits,
                               "Most Profit: Total Purchase Value": profits_purchase_value})
pd.options.display.float_format = '${:.2f}'.format
high_profits_df = high_profits_df.sort_values(by="Most Profit: Total Purchase Value", ascending = False)
high_profits_df

,Most Profit: Game ID,Most Profit: Price,Most Profit: Number Sold,Most Profit: Total Purchase Value
"Mercy, Katana of Dismay",$4.94,139,5,$24.70
"Blazeguard, Reach of Eternity",$4.91,128,5,$24.55
"Hellreaver, Heirloom of Inception",$4.93,147,3,$14.79
Stormfury Mace,$4.99,63,2,$9.98
Stormfury Longsword,$4.93,173,2,$9.86

In [ ]:
#FINAL DATA SETS

In [280]:
total_num_players_df

  Total Players
0           576

In [281]:
purchasing_analysis_total_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,$2379.77

In [282]:
gender_demographics_df

                       Gender Total Gender Percentage
Male                            484            84.03%
Female                           81            14.06%
Other / Non-Disclosed            11             1.91%

In [283]:
gender_purchase_df

,Total Purchase Value,Average Purchase Price,Total Purchases,Average Purchase Price Per Person
Gender,,,,
Female,$361.94,$3.20,113,$4.47
Male,$1967.64,$3.02,652,$4.07
Other / Non-Disclosed,$50.19,$3.35,15,$4.56

In [284]:
age_group_df

,Price Per Group,Average Price Per Group,Count Per Group,Average Price Per Person Per Group
Age Group,,,,
<10,$77.13,$3.35,23,$4.54
10-14,$82.78,$2.96,28,$3.76
15-19,$412.89,$3.04,136,$3.86
20-24,$1114.06,$3.05,365,$4.32
25-29,$293.00,$2.90,101,$3.81
30-34,$214.00,$2.93,73,$4.12
35-39,$147.67,$3.60,41,$4.76
40-44,$36.54,$3.04,12,$3.32
>45,$1.70,$1.70,1,$1.70

In [296]:
top5spenders_df

,Number of Purchases,Average Purchase Price,Top 5 Total Purchase Value
Lisosia93,5,$3.79,$18.96
Idastidru52,4,$3.86,$15.45
Chamjask73,3,$4.61,$13.83
Iral74,4,$3.40,$13.62
Iskadarya95,3,$4.37,$13.10

In [295]:
popular5_df

,Popular 5: Item ID,Popular 5: Price,Popular 5: Count,Popular 5: Total Purchase Value
Final Critic,101,$4.19,13,$59.99
"Oathbreaker, Last Hope of the Breaking Storm",178,$4.23,12,$50.76
"Extraction, Quickblade Of Trembling Hands",108,$3.53,9,$31.77
Fiery Glass Crusader,145,$4.58,9,$41.22
Persuasion,132,$3.33,9,$28.99

In [294]:
high_profits_df

,Most Profit: Game ID,Most Profit: Price,Most Profit: Number Sold,Most Profit: Total Purchase Value
"Mercy, Katana of Dismay",$4.94,139,5,$24.70
"Blazeguard, Reach of Eternity",$4.91,128,5,$24.55
"Hellreaver, Heirloom of Inception",$4.93,147,3,$14.79
Stormfury Mace,$4.99,63,2,$9.98
Stormfury Longsword,$4.93,173,2,$9.86

In [ ]:
#CONCLUSIONS:

# 1. Video games are more popular in the male population, as a majority of the games were bought by male players. The total 
#    purchase value is also significantly greater in the male population.
# 2. The most popular game is "Final Critic", with 13 games sold. A close runner up is "Oathbreaker, Last Hope of the Breaking 
#    Storm", with 12 games sold. These two games also brought in the most money. 
# 3. These games are most popular in the ages between 20 and 24 years. The data shows that this age group purchased the most
#    games and collectively spend the most amount of money.